body {
  background-color: #000000;
  display: flex;
  justify-content: center;
}
.App {
  width: 1200px;
  color: #fff;
}
.App-header {
  height: 52px;
  margin-bottom: 52px;
  text-align: center;
  display: flex;
  justify-content: flex-end;
}
.App-content1 {
  height: 600px;
  text-align: center;

}
.content1-wrap {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }
.content1-title{
  text-align:left;
  color:#FFFFFF;
  weight:700;
  font-size:60px;
  line-height:72px;
  margin-bottom:20px
}
.content1-text{
  text-align:left;
  color:#FFFFFF;
  weight:400;
  font-size:20px;
  line-height:36px
}

.App-content2 {
  height: 600px;
}
.content2-warp{
   display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    text-align: center;
    
}
.span-col-2{

  grid-column: span 2 / auto;
  display: flex;
  justify-content: center;
  margin-top:20px
}
.connect-button{
  user-select:none;
  width: 187px;
  height: 52px;
  line-height:52px;
  background: #FFCC00;
  border-radius: 30px;
  color:#000000;
  font-size:16px;
  weight:500;
  margin:10px;
  cursor: pointer;

}
.span-col-2-button{
  user-select:none;
  width: 187px;
  height: 52px;
  line-height:52px;
  background: #FFCC00;
  border-radius: 30px;
  color:#000000;
  font-size:16px;
  weight:500;
  margin:30px 20px 30px 20px;
  cursor: pointer;

}
.content2-logo-select{
  height:600px;
  font-size:28px;
  weight:400px;
   margin:20px 0px 20px 0px;
}
.content2-logo-view{
  height:600px;
  font-size:28px;
  weight:400px;
  margin:20px 0px 20px 0px;
}
